#card_table {
  margin: 20px 20px;
  background: green;
  height:600px;
  width: 1000px;
}

.card_wrapper {
  height: 140px;
  position: relative;
}

.card {
  transition: all 0.5s ease;
  /* http://unstoppablerobotninja.com/entry/fluid-images/ */
  max-height: 100%;
  border: none;
}

.card_buttons {
  position: absolute;
  bottom: 0px;
  opacity: 0.50;
  padding: 2px;
}

.rotated { transform: rotate(90deg); }

#lightbox {
  position:fixed; /* keeps the lightbox window in the current viewport */
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:rgba(0,5,0,0.6);
  /* http://philipwalton.github.io/solved-by-flexbox/demos/vertical-centering/ */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

#makeMeDroppable { 
  width: 100px;
  height: 300px;
  border: 1px solid #999;
}


#hand {
  background-color: lightgreen;
  min-width: 600px;
  min-height: 160px;
}

#hand .card_wrapper {
  float: left;
}

.drop .card_wrapper {
  margin-top: -100px;
}

.drop .card_wrapper:first-child {
  margin-top: 0px;
}

.drop {
  margin-top: 100px;
  background-color: red;
  min-height: 140px;
  width: 98px;
  border-top: 1px solid #000;
}
